.selectStyles {
  background-color: blue;
}
select {
  width: 100%;
  height: 3.5rem;
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.22);
}
