.slider {
  width: 95%;
  height: 0.7rem;
  background: rgba(196, 196, 196, 0.46);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.indicator {
  height: 0.7rem;
  background: #ffc423;
  border-radius: 10px;
}
