@import "~office-ui-fabric-react/dist/sass/References.scss";

.risk__SliderBtn {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  color: whitesmoke;
  background-color: rgba(255, 196, 35, 1);
  border: 1.5px solid white;
  margin-top: 20px;
  margin-left: -5px;
  padding: 0;
  cursor: pointer;
}

.risk__backgroundImage {
  background-image: url(../assets/background-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.risk__backgroundImage2 {
  background-image: url(../assets/background-02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.risk__backgroundImage3 {
  background-image: url(../assets/background-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.risk__yellowbg {
  width: 1200px;
  height: 600px;
  // border-bottom-right-radius: 1000px;
  // border-top-right-radius: 1000px;

  background-color: rgba(255, 196, 35, 1);
  display: flex;
  flex-direction: column;
  margin-left: -50%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 55%;
}

.risk__content {
  padding-left: 60%;
  padding-top: 10%;
}

.reactCarouselWp {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: $ms-font-size-m;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }
}

.Bannercard {
  padding: 20px 0;
  // background-color: #0460a9;
  color: #ffffff;
  height: 700px;
  padding-left: 30px;

  span {
    font-size: 40px;
    color: white;
    font-weight: bold;
  }

  h2 {
    font-size: 16px;
    color: white;
  }
  p {
    font-size: 14px;
    margin-bottom: 20px;
    height: 63px;
  }
}
