.con {
    width: 100%;
    height: auto;
    padding: 0rem 3rem;
}

.slider {
    width: 100%;
    height: 1rem;
    background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.indicator {
    height: 1rem;
    background: #FFCC00;
    border-radius: 10px;
}