@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=Noto+Sans&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

.container {
  width: 100%;
  display: flex;
  min-height: 110vh;
}
.right {
  width: 85%;
  background-color: white;
  padding: 2% 8%;
}
.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-family: "Gothic A1", sans-serif;
}
.marginBtm {
  margin-bottom: 20px;
  margin-left: auto;
}
.instruction {
  font-size: 12px;
  margin-bottom: 10px;
}
.containerForm {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 3%;
}
.formContainer {
  display: grid;
}
.btnContainer {
  position: absolute;
  margin-top: 10px;
  bottom: 5px;
  right: 0;
  left: 0;
  padding: 0.5rem 10% 0.5rem 0;
  height: auto;
  display: flex;
  justify-content: flex-end;
  width: 89%;
  background-color: rgb(0, 255, 64);
}
.imageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  height: 300px;
}
.checkContainer {
  display: flex;
  padding-top: 1rem;
  margin-bottom: 20px;
  padding-left: 18px;
}
.checkContainer input[type="radio"] {
  margin-left: 40px;
  margin-top: 5px;
}
.checkContainer input[type="checkbox"] {
  margin-left: 40px;
  margin-top: 5px;
}
.checkContainer input {
  display: flex;
}
.checkboxTitle {
  display: flex;
}
