// @import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   font-family: "Gothic A1", sans-serif;
// }

.background__logo {
  width: 100%;
  background-image: url(../assets/background-01.png);
  height: 600px;
}

.background__logoContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
  // border-radius: 50%;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 70%;
  border-top-left-radius: 5%;
  background-color: rgba(255, 196, 35, 1);
  // margin-left: 5%;
}

.mtn__content {
  padding: 1rem;
  width: 70%;
}

.mtn__content img {
  width: 10%;
  height: 10%;
  margin-top: 60px;
}

.mtn__contentRead p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;
}

.mtn__contentRead span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.mtn__entryBtn {
  width: 25%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  cursor: pointer;
  color: white;
  background-color: rgba(255, 196, 35, 1);
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
}

.mtn__entryBtn:hover {
  background-color: rgb(245, 202, 102);
}
